body {
    font-family:'Permanent Marker', cursive;
    text-align: center;
    background-image: url(natalie-chaney-1400174-unsplash.jpg);
    background-size:cover;
    background-attachment: fixed;
    color: white;
    
    
    
    
   

    
}

#name{
    width: 500px;
    height: 30px;
    font-size: 30px;
}



#artist{
    font-size: 5rem; 
    text-transform: capitalize;
}
#track{
    margin:0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    
    
}
    
  
    




.artwork img{
    margin-top: 1rem;   
    width: 300px;
    height: auto;
    border-color: black;
    border-style: solid;
    border-radius: 100%;
}
